<div class="welcome contact" id="contact">
    <div class="container">
        <h3 class="title">Contact Us</h3>

        <div class="contact-row">
            <div class="col-md-6 contact-left">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.177362426695!2d77.63487364998987!3d13.024374817197925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1724a2d8ec05%3A0xeb25e099bbc26a71!2s100%2C+Kammanahalli+Main+Rd%2C+HRBR+Layout+3rd+Block%2C+HRBR+Layout%2C+Kalyan+Nagar%2C+Bengaluru%2C+Karnataka+560043!5e0!3m2!1sen!2sin!4v1470672123665" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 contact-right">
                <b><font color="#CC3300">Head Office:</font><br>
                </b>
                <div class="address-left">
                    <P>Palm Charitable trust</P>
                    <p> # 100, 3rd Floor, Masjid Street, Kammanahalli Main Road, RS Palya, Bangalore-560033 <br> KA, India. </p>
                </div>
                <div class="address-right">
                    <p>Call us :  99867 66555, 97427 66555</p>
                    <p>E-mail : <a href="mailto:palmcharitabletrust@gmail.com">palmcharitabletrust@gmail.com</a></p>
                </div>
                <div class="clearfix"></div>
                <div class="contact-form">
                    <form method="post">
                        <input type="text" placeholder="Name" ng-model="contact.name" required="">
                        <input class="email" type="text" placeholder="Email" ng-model="contact.email" required="">
                        <input class="phone" type="text" placeholder="Phone" ng-model="contact.phone" required="">
                        <textarea name="Message" placeholder="Message" ng-model="contact.message" required=""></textarea>
                        <input type="submit" value="SUBMIT"  ng-click="submitData()">
                    </form>
                </div>
                <div style="font-size: 21px;color: white;smargin-top: 4%;">
                    {{successMessage}}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>