<!--banner-->
<!--<div id="home" class="banner">
	<div class="banner-info">
		<div class="container">

		</div>
	</div>
</div>-->
<!--//banner-->
<!--top-nav-->
<!--<div class="top-nav wow" style="background:#FF9933">
	<div class="container">
		<div class="navbar-header logo">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				Menu
			</button>
		</div>
		&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="menu">
				<ul class="nav navbar">
					<li><a href="#about" class="scroll">About</a></li>
					<li><a href="#work" class="scroll">Experience</a></li>
					<li><a href="#education" class="scroll">Education</a></li>
					<li><a href="#skills" class="scroll">Skills</a></li>
					<li><a href="#projects" class="scroll">My Projects</a></li>
					<li><a href="#contact" class="scroll">Contact</a></li>
				</ul>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>	-->
<!--//top-nav-->
<!--about-->
<div id="about" class="about">
	<div class="container">
		<h3 class="title">PALM CHARITABLE TRUST<div style="margin-left: 40%;color: black;"><h4>Registered  trust</h4></div></h3>

		<div class="col-md-6 about-left">
			<img class="img-responsive" src="img/Logo.jpg" style="height: 361px;">
		</div>
		<div class="col-md-6 about-right">
			<h2 style="margin-bottom: 2%;">About Palm Charitable Trust...</h2>

			<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae tortor elementum, dapibus eros vel, tempus sem. Praesent malesuada ante blandit dictum cursus. Phasellus ultricies, justo eu viverra lacinia, erat est varius velit, ac mollis ipsum leo vel sem. Vestibulum ornare tristique dolor, id tempus ex blandit vel. Morbi arcu neque, viverra ac venenatis vel, rutrum nec lectus. Donec egestas elit sit amet ante fermentum egestas. Sed in orci id justo fermentum venenatis. Donec sagittis, massa id laoreet cursus, magna elit dapibus sem, ut lacinia mauris dui in purus. Proin sollicitudin scelerisque turpis, vitae luctus turpis lacinia luctus.!.</p>
			<p>We are a group of enthusiastic engineers striving to facilitate aspiring and fellow engineers to reach the zenith! A desire to acquire and share drives our cause....hitch a ride on BlinkingBrain and you'll definitely end up closer,if not more, to fulfilling your ambition as an engineer!.</p>-->
			<p class="paragrapcolor">
				The group of young and dynamic IT and other professionals join together to serve humanity for the sake of Almighty.
				And formed/registered Palm Charitable Trust.</p>

				<p class="paragrapcolor">Palm Charitable Trust is working towards health and education as main focus areas, and is dedicated to work with Humanity.
			     Irrespective of caste, creed, race, religion, and nationality.</p>
               <p class="paragrapcolor">
				   We also partnered with or plan to partner with other trust and NGOs to help the humanity better in other areas of need like old age/orphanage homes.
				   And social initiatives like awareness of child sex abuse prevention, training in various areas for life/skills development for underprivileged and so on.

			   </p>

			<p class="paragrapcolor">
				Currently with the grace of god, We have been sponsoring around 250 dialysis per month for the Kidney failed patients with partnering with HBS Dialysis, a unit of HBS hospital., with support from like-minded donors.
			</p>





			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!--//about-->
<!--work-experience-->
<!--<div id="work" class="work">
	<div class="container">
		<h3 class="title">Work Experience</h3>
		<div class="work-info"> 
			<div class="col-md-6 work-left"> 
				<h4>April 2015 - Current </h4>
			</div>
			<div class="col-md-6 work-right"> 
				<h5><span class="glyphicon glyphicon-briefcase"> </span> Medibox Technologies LLP</h5>
				<h6> Software Developer</h6>
				<p>I am involved with designing and developing scalable digital platform for healthcare industry. Roles included User Interface web development in accordance with requirements,Mapping business requirements to application features and the most suited technology to provide
					business value
					Technologies used: NodeJS,MongoDB,AngularJS,ElasticSearch,HTML,CSS,Bootstrap. </p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
&lt;!&ndash;//work-experience&ndash;&gt;
&lt;!&ndash;education&ndash;&gt;
<div id="education" class="education">
	<div class="container">
		<h3 class="title">Education</h3>
		<div class="work-info"> 
			<div class="col-md-6 work-left"> 
				<h4>B.E in Computer Engineering, 2010-2014</h4>
			</div>
			<div class="col-md-6 work-right"> 
				<h5><span class="glyphicon glyphicon-education"> </span> visvesvaraya technological university Belgaum</h5>
				<p>Courses:studied C and C++ languages,microprocessor,algorithm design,java,J2EE,web techlogies like HTML,PHP,CSS  Project on Theft intimation of the vehicle over SMS to owner who can stop the Engine”. </p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="work-info"> 
			<div class="col-md-6 work-right work-right2"> 
				<h4>Higher Secondary Schooling in Science - 2010</h4>
			</div>
			<div class="col-md-6 work-left work-left2"> 
				<h5> karnataka secondary education examination board <span class="glyphicon glyphicon-education"></span></h5>
				<p>Completed my Higher Secondary Schooling in Science. Major subjects were Physics, Chemistry, Maths.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="work-info"> 
			<div class="col-md-6 work-left"> 
				<h4>JAVA J2EE certification course from UTTARA INFOTECH, 2014</h4>
			</div>
			<div class="col-md-6 work-right"> 
				<h5><span class="glyphicon glyphicon-education"> </span>UTTARA INFOTECH</h5>
				<p>Completed the course of JAVA Core developer from UTTARA INFOTECH in 2014. The course provided an understanding of core OOPS principle, advanced data structures and principles of software design. </p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="work-info">
			<div class="col-md-6 work-right work-right2">
				<h4>MongoDB for NodeJs Developers, 2016</h4>
			</div>
			<div class="col-md-6 work-left work-left2">
				<h5>MongoDB University<span class="glyphicon glyphicon-education"></span></h5>
				<p>Learn basic installation of MongoDB, JSON, schema design, querying, insertion of data, indexing and working with language drivers. The course project involves building an e-commerce platform with MongoDB .</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
&lt;!&ndash;//education&ndash;&gt;
&lt;!&ndash;skills&ndash;&gt;
<div id="skills" class="skills">
	<div class="container">
		<h3 class="title">Skills</h3>
		<div class="skills-info">
			<div class="col-md-6 bar-grids">
				<h6>NodeJS <span> 80% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 80%">
					</div>
				</div>
				<h6>AngularJs <span> 85% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 85%">
					</div>
				</div>
				<h6>HTML<span>90% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 90%">
					</div>
				</div>
				<h6> CSS<span> 90% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 95%">
					</div>
				</div>
			</div>
			<div class="col-md-6 bar-grids">
				<h6>MongoDb <span> 85% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 85%">
					</div>
				</div>
				<h6>Bootstrap<span> 95% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 95%">
					</div>
				</div>
				<h6>ElasticSearch<span>80% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 80%">
					</div>
				</div>
				<h6>Git/GitHub,Atlassian JIRA,WebStorm 7, Sublime<span> 90% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 90%">
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>-->
<!--//education-->
<!--portfolio-->
<!--<div id="projects" class="portfolio">
	<div class="container">
		<h3 class="title wow zoomInLeft animated" data-wow-delay=".5s">My Projects</h3>
		<ul class="list-group">
			<li class="list-group-item"><span style="font-size: 26px;margin-right: 10px;">Contactlist-MEAN-App</span> <a href="https://github.com/mujawar/contactlist-MEAN-app"><i id="social-tw" class="fa fa-github-square fa-3x social"></i></a> <div style="display: inline;margin-left: 12px;"><span>Description : </span><span>contactlist web application developed using MEAN stack and also can perform CRUD operation</span></div></li>
			<li class="list-group-item"><span style="font-size: 26px;margin-right: 10px;">MEAN-Stack-project to add and get meetup</span> <a href="https://github.com/mujawar/MEAN-Stack-small-project"><i id="social-tw" class="fa fa-github-square fa-3x social"></i></a> <div style="display: inline;margin-left: 12px;"><span>Description : </span><span>MEAN Stack project end to end to add and get meetup using http </span></div></li>
			<li class="list-group-item"><span style="font-size: 26px;margin-right: 10px;">M101JS-mongodb-course-2016</span> <a href="https://github.com/mujawar/M101JS-mongodb-course-2016"><i id="social-tw" class="fa fa-github-square fa-3x social"></i></a> <div style="display: inline;margin-left: 12px;"><span>Description : </span><span>M101JS-mongodb-course-2016 complated from mongodb university</span></div></li>
			<li class="list-group-item"><span style="font-size: 26px;margin-right: 10px;">Aadhar enrollment form design</span> <a href="https://github.com/mujawar/contactlist-MEAN-app"><i id="social-tw" class="fa fa-github-square fa-3x social"></i></a> <div style="display: inline;margin-left: 12px;"><span>Description : </span><span>Aadhar enrollment form is desinged usind html bootstrap</span></div></li>
			<li class="list-group-item"><span style="font-size: 26px;margin-right: 10px;">Angular Project</span> <a href="https://github.com/mujawar/Angular-project"><i id="social-tw" class="fa fa-github-square fa-3x social"></i></a> <div style="display: inline;margin-left: 12px;"><span>Description : </span><span>complate angular website is done using angularjs</span></div></li>

		</ul>
		&lt;!&ndash;ResponsiveTabs&ndash;&gt;
		<script src="js/modules/easyResponsiveTabs.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$('#horizontalTab').easyResponsiveTabs({
					type: 'default', //Types: default, vertical, accordion           
					width: 'auto', //auto or any width like 600px
					fit: true   // 100% fit in a container
				});
			});		
		</script>
		&lt;!&ndash;//ResponsiveTabs&ndash;&gt;
		&lt;!&ndash; swipe box js &ndash;&gt;
		<script src="js/modules/jquery.swipebox.min.js"></script> 
			<script type="text/javascript">
				jQuery(function($) {
					$(".swipebox").swipebox();
				});
		</script>
		&lt;!&ndash; //swipe box js &ndash;&gt;
	</div>
</div>-->

<!--//portfolio-->

<!--smooth-scrolling-of-move-up-->
<script type="text/javascript">
	$(document).ready(function() {
	
		var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
		};
		
		$().UItoTop({ easingType: 'easeOutQuart' });
		
	});
</script>
<script src="js/modules/bootstrap.js"></script>
